
/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: "Open sans", Verdana, Geneva, Tahoma, sans-serif;
    color: #4a4a4a;
    line-height: 1.5;
}

img {
   max-width: 100%;
   margin-bottom: 2em;
}

h2,
h3 {
    margin-top: 0;
}


a {
    text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
    padding-left: 0;
}

.nav-bar {
    background-color: rgba(82,186,180,.9);
    color: white;
    padding-top: 2em;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
}

.main-nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 15px 15px;
    text-align: center;
    font-weight: bold;
}

.main-nav li {
    list-style: none;
}

/* ----Footer ---- */

.footer-name {
    float: left;
    margin-bottom: 0;
    font-weight: bold;
}

.footer-nav {
    float: right;
}

.footer-nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: #4a4a4a;
}

.footer-links li {
    display: none;
}

/* ---- Layout Containers ---- */

.main-header {
    margin-top: 0;
}

.introduction {
    text-align: center;
    margin-bottom: 3em;
}

.portfolio,
.contact,
.main-header {
    text-align: center;
    margin-bottom: 4em;
}

.main-footer {
    padding: 3em 0;
    margin: 0 1.5em;
    border-top: solid lightgrey 1px;
}

.portfolio-item {
    margin-bottom: 3em;
}

/* ---- Page Elements ---- */

.name {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
}

.section-heading {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.introduction p,
.contact p {
    color: #7f7f7f;
}
/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ================================= 
  Media Queries
==================================== */

/* Tablet size */
@media (min-width: 768px) {

/* ---- Navigation ---- */

    .main-nav li {
        display: inline-block;
    }

/* ---- Layout Containers ---- */

    .container,
    .introduction {
        width: 95%;
        margin: 0 auto;
     }

    .introduction-text {
        display: inline-block;
        width: 60%;
        text-align: left;
    }

    .introduction-image {
        float: right;
        width: 40%;
    }

    .col,
    .introduction-image,
    .introduction-text {
        padding: 0 1%;
    }

    .col {
        float: left;
        width: 50%;
    }

    .portfolio-item p {
        width: 80%;
        margin : auto;
    }

    .contact {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /* ---- Page Elements ---- */

    .back-to-top {
        display: none;
    }

    /* ----Footer ---- */

    .main-footer {
        padding-top: 1em;
    }

    .footer-nav ul {
        margin: 0 0;
    }

    .footer-links li {
        display: inline-block;
        padding: 0 1em;
    }
}

/* >Desktop Size */
@media (min-width: 1024px) {

    .container,
    .main-footer,
    .introduction {
        width: 90%;
        max-width: 1150px;
        margin: auto;
     }

     .nav-bar {
         margin-bottom: 3em;
     }

    .col {
        width: 33.2%;
    }

    .name {
        float: left;
        margin-top: .9em;
    }

    .nav-bar {
        height: 130px;
    }

    .main-nav {
        float: right;
    }

 }